$cell-size: 30px;
$player-size: 0.8 * $cell-size;
$shift: ($cell-size - $player-size) / 2;
$col-count: 3;
$rows-count: 5;


.game {
  width: $col-count * $cell-size;
  border: 2px solid black;
  position: relative;

  &__field {
    display: flex;
    flex-wrap: wrap;
  }

  &__cell {
    box-sizing: border-box;
    width:$cell-size;
    height: $cell-size;
    border: 0.5px dashed black;
  }
  
  &__player {
    height: $player-size;
    width: $player-size;
    background-color: #231d1d;
    border-radius: 50%;
    position: absolute;

    &--red {
      background-color: red;
    }
    &--green {
      background-color: rgb(13, 155, 27);
    }
    &--blue {
      background-color: rgb(25, 22, 207);
    }

    @for $row from 1 through $rows-count {
      &--y-#{$row} {
        top: ($row - 1) * $cell-size + $shift;
      }
    }
    
    @for $column from 1 through $col-count {
      &--x-#{$column} {
        left: ($column - 1) * $cell-size + $shift;
      }
    }
  }
}









